@import "tailwindcss";
/*@import "./node_modules/preline/variants.css";*/

@import '../node_modules/preline/variants.css';

@font-face {
  font-family: 'MuseoSans';
  src: url('/fonts/museo-sans/Museo100-Regular.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}
.museo-font {
  font-family: 'MuseoSans', sans-serif;
}

body {
  font-family: 'MuseoSans', sans-serif;
}

* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}
